#sidebar-first
  = render 'sidebar_first'

#content
  %h1.page-title
    = page_title! I18n.t('<%= plural_name %>.index')

  - if current_admin
    .admin.create
      = link_to I18n.t('<%= singular_name %>.new'), new_<%= singular_name %>_path

  .content
<% for attribute in attributes -%>
    = I18n.t('activerecord.attributes.<%= singular_name %>.<%= attribute.name %>')
<% end -%>
    - for <%= singular_name %> in @<%= plural_name %>
      %div{ :class => 'block' + cycle('odd', 'even') }
<% for attribute in attributes -%>
        = <%= singular_name %>.<%= attribute.name %>
<% end -%>


        .controls
          .navigation
            = link_to I18n.t('show'), <%= singular_name %>, :class => 'button show'
          - if current_admin
            .admin
              = link_to I18n.t('edit'), edit_<%= singular_name %>_path(<%= singular_name %>), :class => 'button edit'
              = link_to I18n.t('destroy'), <%= singular_name %>, :confirm => I18n.t('confirm_delete'), :class => 'button delete', :method => :delete
