%ul.breadcrumb
  %li
    = link_to 'Home', '#'

#sidebar-first
  = render 'sidebar_first'

#content
  %h1.page-title
    = page_title! "<%= singular_name %>"

  #sidebar-second
    = image_tag '/images/img-show-destinations-mapa.jpg'
<% for attribute in attributes -%>
  .field.field-image
  .field.field-content 
    = I18n.t('activerecord.attributes.<%= singular_name %>.<%= attribute.name %>')
    = @<%= singular_name %>.<%= attribute.name %>
<% end -%>

    .controls
      .navigation
        = link_to I18n.t('back'), <%= plural_name %>_path, :class => 'button back'
      - if current_admin
        .admin
          = link_to I18n.t('edit'), edit_<%= singular_name %>_path(@<%= singular_name %>), :class => 'button edit'
